*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.container{
    width:100%;
    height:100vh;

}

a{
    text-decoration:none;

}
.logo{
    position:absolute;
    left:90px;
    top:50px;

}
.logo a{
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    font-weight:bold;
    color:#2f2e41;
    font-size:2rem;
    letter-spacing:1px;
}
.searcharea{
    position:fixed;
    right:90px;
    top:50px;
    width:170px;
    height:45px;
    background-color:#ffff;
    box-shadow:2px 2px 30px rgba(167,158,245,0.2);
    border:1px solid rgb(167,158,245);
    border-radius:10% 10% 10% 10% / 50% 50% 50% 50%;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 1px;

}
.searchbox input{
    width:90px;
    height:20px;
    color:#1f1f1f;
    font-family:calibri;
    font-size:1rem;
    background:transparent;
    padding:0px 10px;
    border:none;
    outline:none;

}
.searchbox input::placeholder{
    color:#1d1d1d;
    font-size:0.8rem;
    font-weight:400px;
    font-family:poppins;
}
.section1{
    position:absolute;
    left:15%;
    top:50%;
    transform:translate(-15%,-50%);

}
.section1 img{
    height:300px;
}
.sectionButton{
    position:absolute;
    top:50%;
    left:60%;
}
.sectionButton h1,h2{
    font-family:roboto;
    font-weight:bold;
    font-size:4rem;
    line-height:60px;
    letter-spacing:3px;
    color:#3d3d3d;
    text-transform:uppercase;

}
span{
    color:#7a72ff;

}
.sectionButton h1{
    letter-spacing:35px;

}
.sectionButton .btn{
    width:150px;
    height:40px;
    background:#2f2e41;
    box-shadow:2px 2px 30px rgba(0,0,0,0.1);
    border-radius:10% 10% 10% 10% / 50% 50% 50% 50%;
    color:#ffff;
    font-family:calibri;
    font-size:1rem;
    margin-top:20px;
    font-weight:600px;
    letter-spacing:0.5px;
    outline:none;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    border: transparent !important;

}

.btn:hover{
    color:#ffff;
    background:#6e64ff;
    transition:all 0.5s;
}

.iconarea{
    position:fixed;
    left:40px;
    top:50%;
    background:#fff;
    box-shadow:2px 2px 30px rgba(0,0,0,0.2);
    border-radius:20px;
    transform:translateY(-50%);
    z-index: 1px;
}
.iconarea a{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:15px 12px;
}
.iconarea a i{
    color:rgba(39,39,39,0.80);
}


.iconarea a:hover .fa-facebook{
    color:#3b5998;
}

.iconarea a:hover .fa-twitter{
    color:#00acee;
}

.iconarea a:hover .fa-instagram{
    color:tomato;
}

.iconarea a:hover .fa-youtube{
    color:red;
}



.productsection{
    width:85%;
    background:#ffff;
    box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
    display:flex;
    flex-direction:column;
    margin:30px auto;
    background-size:1000px;
    border-radius:10px;
    align-items:center;
    padding:40px 0px;
    margin-top:40px;
    
}
.productsection > h3{
    margin:20px;
    text-shadow:2px 2px 30px rgba(0,0,0,0.5);
    font-family:myriad pro;
    font-weight:700px;
    letter-spacing:2px;
    font-size:2rem;
    color:#323543;

}
.product{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    flex-wrap:wrap;
    margin:10px;
}
.productbox{
    width:250px;
    height:330px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.productbox img{
    height:180px;
}
.productbox p{
    color:#4d4d4d70;
    font-family:myriad pro;
    font-size:0.9rem;
    letter-spacing:0.5px;

}
.productbox a{
    color:#2c2c2c;
    font-family:poppins;
    font-size:1rem;
}
.Buybtn{
    position:absolute;
    width:140px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:calibri;
    left:50%;
    bottom:-20px;
    transform:translate(-50%);
    border-radius:20px;
    background:linear-gradient(120deg,#6b60ec,#a166f4);
    color:#ffff;
    display:none;

}
.productbox:hover .Buybtn{
    display:flex;
}
.productbox:hover{
    background:#ffff;
    box-shadow:2px 2px 30px rgba(0,0,0,0.1);
    transition:all 0.5s;
}


.aboutsection{
    width:85%;
    background:#ffff;
    box-shadow:2px 2px 30px rgba(0,0,0,0.1);
    border-radius:10px;
    margin:50px auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:30px 0px;
}
.aboutbox{
    width:40%;
    font-family:myriad pro;
   

}

.aboutbox img{
    height:100%;
    width:100%;
    object-fit: contain;

}
.aboutbox h1{
    font-size:3rem;
    color:#333333;
    font-weight:700px;


}
.aboutbox h4{
    font-size:2rem;
    color:#333333;
    font-weight:400px;
    margin-bottom:10px;

    margin-top:10px;
    bottom:10px;
}
.aboutbox p{
    font-size:1rem;
    color:#bdbdbd;
    letter-spacing:0.5px;
}

.notificationarea{
    width:100%;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
   
}

.notificationarea > h5{
    font-size:2rem;
    color:rgb(56,56,56);
}
.notification{
    width:270px;
    height:40px;
    background:#ffff;
    box-shadow:2px 2px 30px rgba(0,0,0,0.2);
    border-radius:10% 10% 10% 10% / 50% 50% 50% 50%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    
    margin-top:30px;
    padding:5px 20px;
}

.notification input{
    width:100%;
    
    font-family:Arial, Helvetica, sans-serif;
    outline:none;
    border:none;
    background:transparent;
}
.btm{
    width:120px;
    height:30px;
    background:#202020;
    color:#ffff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    text-transform:uppercase;
    font-weight:bold;
    box-shadow:2px 2px 30px rgba(0,0,0,0.2);
    font-size:1rem;

    

}
.btm:hover{
    background:#6b60ec;
    transition:all 0.5s;
}

footer{
    background-color:black!important;
    padding:20px;
}
footer p{
  text-align:center;
  color:#ffff;
}

